@import "../../../assets/styles/mixins/global.scss";

.collection-table-data-design {
  table {
    width: 100%;
    border-collapse: collapse;

    .checkbox-text-alignment {
      @include flex-center;

      div + div {
        padding-left: 27px;
      }

      div {
        @include flex-center;

        span {
          @include text-sm;
          color: var(--dark-black);
          position: relative;
          top: 4px;
          display: block;
        }
      }
    }

    tr {
      border-bottom: 1px solid var(--border-color);

      th {
        padding: 0 16px 20px 16px;

        span {
          display: block;
          @include text-sm;
          @include font-medium;
          color: var(--dark-black);
        }
      }

      td {
        padding: 16px;

        .time-text {
          span {
            color: #6d7175 !important;
            display: block;
          }
        }

        .light-font {
          font-weight: 400 !important;
        }

        span {
          display: block;
          @include text-sm;
          color: var(--dark-black);
        }
      }
    }
  }
}

.pagination {
  padding: 15px 5px;
  align-items: center;
}
